
<div class="jumbotron center">
	<p><%= link_to "Register New Visitor", "#", class: "btn btn-success btn-lg" %></p>
	<p><%= link_to "Register New Event", "#", class: "btn btn-success btn-lg" %></p>
</div>